@model IEnumerable<RecipeFeedback>

@inject SignInManager<Account> SignInManager
@using Microsoft.AspNetCore.Identity;
@inject UserManager<Account> UserManager
@{
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
@if (Model != null)
{
    @foreach (var feedback in Model)
    {
        <div class="mt-2">
            <div class="d-flex flex-row p-2">
                <div class="row w-100">
                    <div class="col-1 me-2 ms-5">
                        <img src="@feedback.User?.ImgPath" width="50" height="50" class="rounded-circle">
                    </div>
                    <div class="col-8 rounded-4" style="background-color: #e7f9fd;">
                        <span class="ms-2 fw-bold label-font">@feedback.User?.UserName</span>
                        <p class="text-justify comment-text mb-0 ms-2">@feedback.Description</p>
                    </div>
                    @if (UserManager.GetUserId(User) == feedback.UserId)
                    {
                        <div class="dropdown col-1">
                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu p-0">
                                <li>
                                    <button onclick="deleteFeedback(this)" data-recipe-id="@ViewData["RecipeId"]" data-feedback-id="@feedback.Id" class="btn mt-2 h-100 w-100">Delete</button>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex flex-row user-feed col-1">
                            <span class="wish"><i class="fa fa-heartbeat ms-2"></i>@feedback.Rating</span>
                        </div>
                    }
                </div>
            </div>
        </div>
    } @*End of for each*@
    <div class="m-4 me-5">
        <partial name="_Pager" model="@pager" />
    </div>
}
<script type="text/javascript">
</script>