@model Recipe

@{
    ViewBag.Title = "Create recipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="mb-2" asp-for="file">Upload File</label>
                <input asp-for="file" class="form-control" type="file" name="file" accept="image/png, image/jpeg" required />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control ckeditor"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nutrition.Calories" class="control-label">Calories (Optional)</label>
                <input asp-for="Nutrition.Calories" class="form-control" />
                <span asp-validation-for="Nutrition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nutrition.Fat" class="control-label">Fat (Optional)</label>
                <input asp-for="Nutrition.Fat" class="form-control" />
                <span asp-validation-for="Nutrition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nutrition.Protein" class="control-label">Protein (Optional)</label>
                <input asp-for="Nutrition.Protein" class="form-control"/>
                <span asp-validation-for="Nutrition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nutrition.Carbohydrate" class="control-label">Carbohydrate (Optional)</label>
                <input asp-for="Nutrition.Carbohydrate" class="form-control"/>
                <span asp-validation-for="Nutrition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nutrition.Cholesterol" class="control-label">Cholesterol (Optional)</label>
                <input asp-for="Nutrition.Cholesterol" class="form-control" />
                <span asp-validation-for="Nutrition" class="text-danger"></span>
            </div>
            <!-- Ingredient -->
            <div id="ingredient-container">
                <!-- Initial ingredient select element -->
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="IngredientId">Ingredient:</label>
                        <select class="form-control" id="IngredientId" name="IngredientIds[]">
                            <option value="">Select Ingredient</option>
                            @foreach (var item in (SelectList)ViewData["Ingredients"]) {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="Quantity">Quantity:</label>
                        <input type="number" class="form-control" id="Quantity" name="Quantities[]" step="any" />
                    </div>
                    <div class="col-md-5">
                        <label for="UnitOfMeasure">Unit of Measure:</label>
                        <select class="form-control" id="UnitOfMeasure" name="UnitOfMeasures[]">
                            <option value="milliliters">milliliters (ml)</option>
                            <option value="grams">grams (g)</option>
                        </select>
                    </div>
                </div>
            </div>

            <button type="button" onclick="addIngredient()" class="btn btn-primary">Add</button>

            <script>
                function addIngredient() {
                    var container = document.getElementById('ingredient-container');
                    var originalFormGroup = container.querySelector('.form-group');

                    var newFormGroup = originalFormGroup.cloneNode(true);
                    var newSelect = newFormGroup.querySelector('select');
                    var newQuantityInput = newFormGroup.querySelector('input[type="number"]');
                    var newUnitOfMeasureSelect = newFormGroup.querySelector('select[name="UnitOfMeasures[]"]');

                    // Clear the selected option in the new select element
                    newSelect.value = '';
                    newQuantityInput.value = '';
                    newUnitOfMeasureSelect.value = '';
                    // Add the new form group to the container
                    container.appendChild(newFormGroup);
                }

                // Submit event handler
                document.getElementById('recipe-form').addEventListener('submit', function (event) {
                    // Prevent the form from submitting
                    event.preventDefault();

                    // Get all the select elements within the container
                    var selectElements = document.querySelectorAll('#ingredient-container select');
                    var quantityInputs = document.querySelectorAll('#ingredient-container input[type="number"]');
                    var unitOfMeasureSelects = document.querySelectorAll('#ingredient-container select[name="UnitOfMeasures[]"]');

                    // Create a hidden input for each ingredient ID
                    var hiddenInputsContainer = document.getElementById('hidden-inputs-container');
                    hiddenInputsContainer.innerHTML = ''; // Clear any existing hidden inputs

                    // Iterate over the select elements and create hidden inputs for each selected ID
                    selectElements.forEach(function (select) {
                        var selectedId = select.value;
                        var quantity = quantityInputs[index].value;
                        var unitOfMeasure = unitOfMeasureSelects[index].value;

                        if (selectedId !== '' && quantity !== '' && unitOfMeasure !== '') {
                            var hiddenInputId = document.createElement('input');
                            hiddenInputId.type = 'hidden';
                            hiddenInputId.name = 'IngredientIds[]';
                            hiddenInputId.value = selectedId;
                            hiddenInputsContainer.appendChild(hiddenInputId);

                            var hiddenInputQuantity = document.createElement('input');
                            hiddenInputQuantity.type = 'hidden';
                            hiddenInputQuantity.name = 'Quantities[]';
                            hiddenInputQuantity.value = quantity;
                            hiddenInputsContainer.appendChild(hiddenInputQuantity);

                            var hiddenInputUnitOfMeasure = document.createElement('input');
                            hiddenInputUnitOfMeasure.type = 'hidden';
                            hiddenInputUnitOfMeasure.name = 'UnitOfMeasures[]';
                            hiddenInputUnitOfMeasure.value = unitOfMeasure;
                            hiddenInputsContainer.appendChild(hiddenInputUnitOfMeasure);
                        }
                    });

                    // Submit the form
                    this.submit();
                });
            </script>


            <div id="hidden-inputs-container"></div>

            <div class="form-group">
                <label asp-for="FkRecipeCategoryId" class="control-label">Category</label>
                <select asp-for="FkRecipeCategoryId" class="form-control" asp-items="ViewBag.FkRecipeCategoryId"></select>
            </div>
            @*<div class="form-group">
            <label asp-for="FkRecipeId" class="control-label"></label>
            <select asp-for="FkRecipeId" class="form-control" asp-items="ViewBag.FkRecipeId"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="PrepTime" class="control-label">Preparation time</label>
                <select asp-for="PrepTime" class="form-control">
                    @for (int i = 5; i < 30; i += 5)
                    {
                        <option value="@i">
                            @i minutes
                        </option>
                    }
                    @for (int i = 30; i <= 360; i += 30)
                    {
                        <option value="@i">
                            @i minutes
                        </option>
                    }
                    @for (int i = 420; i <= 720; i += 60)
                    {
                        <option value="@i">
                            @(i / 60) hours
                        </option>
                    }
                </select>
                <span asp-validation-for="PrepTime" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Difficult" class="control-label">Difficult Level</label>
                <select asp-for="Difficult" class="form-control">
                    <option value="0">--Please choose an option--</option>
                    <option value="1">Easy</option>
                    <option value="2">Medium</option>
                    <option value="3">Hard</option>
                </select>
            </div>
            @*<div class="form-group">
            <label asp-for="FkUserId" class="control-label"></label>
            <input asp-for="FkUserId" class="form-control" />
            <span asp-validation-for="FkUserId" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
            <label asp-for="CreatedDate" class="control-label"></label>
            <input asp-for="CreatedDate" class="form-control" />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>*@
            <div class="form-group mt-4 d-flex">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-warning ms-2">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <script src="~/ckeditor/ckeditor.js"></script>
        <script>
            CKEDITOR.replace('Description');
            CKEDITOR.config.filebrowserUploadUrl = '/your-upload-endpoint';
        </script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}