@model Recipe

@inject SignInManager<Account> SignInManager
@using Microsoft.AspNetCore.Identity;
@inject UserManager<Account> UserManager

@{
    ViewData["Title"] = Model.Name;
    var feedbacks = ViewData["feedbacks"] as IEnumerable<RecipeFeedback>;
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null) {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<style>
    body {
        background-color: #eee;
    }

    .card {
        background-color: #fff;
        border: none;
    }

    .form-color {
        background-color: #fafafa;
    }

    .form-control {
        height: 48px;
        border-radius: 25px;
    }

        .form-control:focus {
            color: #495057;
            background-color: #fff;
            border-color: #35b69f;
            outline: 0;
            box-shadow: none;
            text-indent: 10px;
        }

    .c-badge {
        background-color: #35b69f;
        color: white;
        height: 20px;
        font-size: 11px;
        width: 92px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2px;
    }

    .comment-text {
        font-size: 13px;
    }

    .wish {
        color: #35b69f;
    }


    .user-feed {
        font-size: 14px;
        margin-top: 12px;
    }
</style>

<!-- Carousel -->
<div class="container" style="margin-top: 40px;">
    <h1 style="margin-bottom: 40px;" class="label-font">@Model.Name</h1>
    <div class="container" style="margin-bottom: 40px;">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-md"
                         style="align-self: center; padding-left: 0; margin-right: 20px; border-right: rgba(0, 0, 0, 0.15) solid 1px;">
                        <div class="row">
                            <div class="col-4 px-0" style="align-self: center;">
                                <div>
                                    <img class="img-fluid rounded-circle"
                                         src="@Model.FkUser?.ImgPath" style="height: 60px; width: 60px;">
                                </div>
                            </div>
                            <div class="col-8 ps-0">
                                <div>
                                    <h5 style="font-size: 1rem;">@Model.FkUser.UserName</h5>
                                    @Model.CreatedDate
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md"
                         style="align-self: center; padding-left: 0; margin-right: 20px; border-right: rgba(0, 0, 0, 0.15) solid 1px;">
                        <div class="row">
                            <div class="col-2 mt-2" style="align-self: center;">
                                <i class="fa-solid fa-clock"></i>
                            </div>
                            <div class="col-10">
                                <h5 class="fs-6">PREPARATION TIME</h5>
                                @if (Model.PrepTime <= 360) {
                                    <p>@Model.PrepTime minutes</p>
                                } else {
                                    <p>@(Model.PrepTime / 60) hours</p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md"
                         style="align-self: center; padding-left: 0; margin-right: 20px; border-right: rgba(0, 0, 0, 0.15) solid 1px;">
                        <div class="row">
                            <div class="col-2 mt-2" style="align-self: center;">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="col-10">
                                <h5 class="fs-6">SERVING SIZE</h5>
                                    <p>For @Model.ServingSize people</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md"
                         style="align-self: center; padding-left: 0; margin-right: 20px; border-right: rgba(0, 0, 0, 0.15) solid 1px;">
                        <div class="row">
                            <div class="col-2 mt-2" style="align-self: center;">
                                <i class="fa-solid fa-list"></i>
                            </div>
                            <div class="col-10">
                                <h5 class="fs-6">CATEGORY</h5>
                                    <p>@Model.FkRecipeCategory.Name</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="align-self: center; padding-right: 0;">
                <div class="row" style="float: right;">
                    <div class="col-12">
                        <button type="button" class="btn btn-sm" style="background: #E7FAFE; border-radius: 50%;">
                            <svg style="width: 80%;" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                 fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                                <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <div class="col-sm-8">
            <img class="img-fluid" style="border-radius: 4ch; width: 100%; max-height: 800px;"
                 src="@Model.ImgPath"
                 class="img-fluid">
        </div>
        <div class="col-sm-4" style="background: #E7FAFE; border-radius: 4ch; padding: 0 40px 0 40px">
            <h5 class="text-start label-font" style="margin-top: 40px;">Nutrition Information</h5>
            <div class="nutrition row justify-content-between">
                <div class="col-4" style="text-align: left; padding: 20px 0 20px 0;">Calories</div>
                <div style="text-align: right; padding: 20px 0 20px 0;" class="col-4">@Model.Nutrition?.Calories kcal</div>
            </div>
            <div class="nutrition row justify-content-between">
                <div class="col-4" style="text-align: left; padding: 20px 0 20px 0;">Fat</div>
                <div style="text-align: right; padding: 20px 0 20px 0;" class="col-4">@Model.Nutrition?.Fat gam</div>
            </div>
            <div class="nutrition row justify-content-between">
                <div class="col-4" style="text-align: left; padding: 20px 0 20px 0;">Protein</div>
                <div style="text-align: right; padding: 20px 0 20px 0;" class="col-4">@Model.Nutrition?.Protein gam</div>
            </div>
            <div class="nutrition row justify-content-between">
                <div class="col-4" style="text-align: left; padding: 20px 0 20px 0;">Carbohydrate</div>
                <div style="text-align: right; padding: 20px 0 20px 0;" class="col-4">@Model.Nutrition?.Carbohydrate gam</div>
            </div>
            <div class="nutrition row justify-content-between">
                <div class="col-4" style="text-align: left; padding: 20px 0 20px 0;">Cholesterol</div>
                <div style="text-align: right; padding: 20px 0 20px 0;" class="col-4">@Model.Nutrition?.Cholesterol gam</div>
            </div>
        </div>
    </div>
    <hr />
    <hr />
    <!-- Ingredients -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 style="margin-bottom: 40px;" class="text-center label-font">Ingredients</h1>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6 text-center">
                        <ul class="list-group list-group-flush">
                            @foreach (var item in Model.RecipeIngredients) {
                                <li class="list-group-item" style="margin-bottom: 20px;">@item.Quantity @item.UnitOfMeasure @item.Ingredient?.Name</li>
                            }
                        </ul>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Directions -->
    <div class="container" style="margin-bottom: 120px;">
        <div class="row">
            <div class="col-12" style="border-bottom: rgba(0, 0, 0, 0.15) solid 1px; margin-bottom: 40px;">
                <h1 class="text-center mt-5 mb-5 label-font">Cooking Instruction</h1>
                @Html.Raw(Model.Description)
                <br></br>
            </div>
        </div>
    </div>

    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <div class="card">
                <div class="p-3 pb-0">
                    <h6>Feedbacks</h6>
                </div>
                <div class="mt-3 d-flex flex-row align-items-center row ms-2">
                    <div class="col-md-1 mb-5 ms-2 me-2">
                    <img src="@UserManager.GetUserAsync(User).Result.ImgPath" width="50" height="50" class="rounded-circle">
                    </div>
                    <form method="post" action="/UserRecipes/GetFeedback" class="col-md-9">
                        <input type="hidden" name="recipeId" value="@Model.Id">
                        <input type="text" class="form-control" placeholder="Enter your feedback..." name="feedbackText" maxlength="200">
                        <button type="submit" class="btn btn-primary mt-2 float-end">Send</button>
                    </form>
                </div>
                @if(feedbacks != null) {
                    @foreach (var feedback in feedbacks) {
                        <div class="mt-2">
                            <div class="d-flex flex-row p-3">
                                <img src="@feedback.User?.ImgPath" width="50" height="50" class="rounded-circle ms-2 me-2">
                                <div class="w-100">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex flex-row align-items-center">
                                            <span class="ms-2">@feedback.User?.UserName</span>
                                        </div>
                                    </div>
                                    <p class="text-justify comment-text mb-0 ms-2">@feedback.Description</p>
                                    <div class="d-flex flex-row user-feed">
                                        <span class="wish"><i class="fa fa-heartbeat ms-2"></i>@feedback.Rating</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <partial name="_Pager" model="@pager" />
                }
            </div>
        </div>
    </div>

    <!-- You may like these recipe too -->
    <div class="container">
        <h3 style="margin-bottom: 80px; text-align: center;">You may like these recipes too</h3>
        <div class="row">
            <div class="col-3">
            </div>
        </div>
    </div>

