@model BusinessObjects.Models.Ingredient

@{
    ViewData["Title"] = Model.Name;
}

<section class="py-5">
    <div class="container px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center pb-5">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Model.ImgPath" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">@Model.FkCategory?.Name</div>
                <h1 class="display-5 fw-bolder">@Model.Name</h1>
                <p class="lead text-color-change">@Model.Description</p>
                <div class="d-flex body.dark div"><a asp-controller="UserRecipes" asp-action="Index" asp-route-IncludeList="@Model.Name" class="btn btn-outline-dark flex-shrink-0 text-color-change"><i class="bi-cart-fill me-1"></i>Related recipes</a></div>
            </div>
        </div>
        <h3 class="pb-3">
            Nutrition facts (Per 100 grams or milliliters)
        </h3>
        <dl class="row">
            <div class="border-bottom d-flex pb-3">
                <dt class="col-4 text-truncate">Calories</dt>
                <dd class="col-8">
                    @($"{(Model.IngredientNutrition.Calories * 100):0.###}") kcal
                </dd>
            </div>
            <div class="border-bottom d-flex py-3">
                <dt class="col-4 text-truncate">Fat</dt>
                <dd class="col-8">
                    @($"{(Model.IngredientNutrition.Fat * 100):0.###}") gam
                </dd>
            </div>
            <div class="border-bottom d-flex py-3">
                <dt class="col-4 text-truncate">Fiber</dt>
                <dd class="col-8">
                    @($"{(Model.IngredientNutrition.Fibre * 100):0.###}") gam
                </dd>
            </div>
            <div class="border-bottom d-flex py-3">
                <dt class="col-4 text-truncate">Protein</dt>
                <dd class="col-8">
                    @($"{(Model.IngredientNutrition.Protein * 100):0.###}") gam
                </dd>
            </div>
            <div class="border-bottom d-flex py-3">
                <dt class="col-4 text-truncate">Carbohydrate</dt>
                <dd class="col-8">
                    @($"{(Model.IngredientNutrition.Carbohydrate * 100):0.###}") gam
                </dd>
            </div>
            <div class="d-flex py-3">
                <dt class="col-4 text-truncate">Cholesterol</dt>
                <dd class="col-8">
                    @($"{(Model.IngredientNutrition.Cholesterol * 100):0.###}") gam
                </dd>
            </div>
        </dl>
    </div>
</section>

