@model IEnumerable<MealPlan>

@inject SignInManager<Account> SignInManager
@using Microsoft.AspNetCore.Identity;
@inject UserManager<Account> UserManager

@{
    ViewBag.Title = "My Planning";
    var dateNow = DateTime.Now;
    var count = ViewData["count"];
}

<style>
    .card-limit-1 {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-limit-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>


<div class="vh-100">
    <hr />
    <div>
        <a asp-action="Create" class="btn btn-success">Create</a>
        <a asp-action="Schedule" class="btn btn-warning">Schedule</a>
    </div>

    <hr />
    <hr />
    <h1 class="label-font text-center">
        Plan for this week
    </h1>
    <hr />
    <div class="row row-cols-1 row-cols-lg-3 g-2 g-lg-3 mt-5">
        @if ((int)count > 0) {
            foreach (var item in Model) {
                <div class="col">
                    <div class="card text-start mb-3 px-0 position-relative border border-4 border-dark rounded mx-2">
                        @if (item.Date?.ToShortDateString() == dateNow.ToShortDateString()) {
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger border border-2 border-dark">
                                TODAY
                            </span>
                        }
                        <div class="card-body" style="background: @(item.Color)">
                            <h5 class="card-title label-font card-limit-1">@item.Title</h5>
                            <h6 class="card-subtitle">@item.Date?.ToShortDateString()</h6>
                            @if (item.Description == null) {
                                <p class="card-text card-limit-2">...</p>
                            } else {
                                <p class="card-text card-limit-2">@item.Description</p>
                            }
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark float-end">Details</a>
                            <form method="post" asp-action="DeletePOST" asp-route-id="@item.Id">
                                <button class="btn btn-danger float-end me-2" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        } else {
            <div class="col"></div>
            <div class="d-flex flex-column">
                <img src="~/images/cartoon-calendar.png" class="img-fluid" />
                <h2 class="text-center label-font">You don't have any plans for this week.</h2>
            </div>
            <div class="col"></div>
        }
    </div>
</div>


