@model IEnumerable<BusinessObjects.Models.MealPlan>

@inject SignInManager<Account> SignInManager
@using Microsoft.AspNetCore.Identity;
@inject UserManager<Account> UserManager

@{
    ViewBag.Title = "My Planning";
    var dateNow = DateTime.Now;
    var count = ViewData["count"];
}

<style>
    .card-limit-1 {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-limit-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>


<div class="vh-100">
    <hr />
    <div>
        <a asp-action="Create" class="btn btn-success">Create</a>
        <a asp-action="Schedule" class="btn btn-warning">Schedule</a>
    </div>

    <hr />
    <hr />
    <h1 class="label-font text-center">
        Plan for this week
    </h1>
    <hr />
    <div class="row row-cols-1 row-cols-lg-3 g-2 g-lg-3 mt-5">
        @if ((int)count > 0) {
            foreach (var item in Model) {
                <div class="col">
                    <div class="card text-start mb-3 px-0 position-relative border border-4 border-dark rounded mx-2">
                        @if (item.Date?.ToShortDateString() == dateNow.ToShortDateString()) {
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger border border-2 border-dark">
                                TODAY
                            </span>
                        }
                        <div class="card-body" style="background: @(item.Color)">
                            <h5 class="card-title label-font card-limit-1">@item.Title</h5>
                            <h6 class="card-subtitle">@item.Date?.ToShortDateString()</h6>
                            @if (item.Description == null) {
                                <p class="card-text card-limit-2">...</p>
                            } else {
                                <p class="card-text card-limit-2">@item.Description</p>
                            }
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark float-end">Details</a>
                            <form method="post" asp-action="DeletePOST" asp-route-id="@item.Id">
                                <button class="btn btn-danger float-end me-2" type="submit">Delete</button>
                            </form>
                            <button class="btn btn-warning float-end me-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" id="mealPlanId" data-mealplan-id="@item.Id">
                                Remind
                            </button>
                        </div>
                    </div>
                </div>
            }
        } else {
            <div class="col"></div>
            <div class="d-flex flex-column">
                <img src="~/images/cartoon-calendar.png" class="img-fluid" />
                <h2 class="text-center label-font">You don't have any plans for this week.</h2>
            </div>
            <div class="col"></div>
        }
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">Create Reminder</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <label for="executionDateTime" class="form-label">Select date and time:</label>
                    <input type="datetime-local" name="executionDateTime" id="executionDateTime" class="form-control" required>
                    <div class="mb-3 form-group">
                        <label for="timezone" class="mt-2 form-label">Select timezone:</label>
                        <select id="timezone" name="timezone" class="form-control" required>
                            <option value="SE Asia Standard Time">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                            @*
                            <option value="Morocco Standard Time">(GMT) Casablanca</option>
                            <option value="GMT Standard Time">(GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                            <option value="Greenwich Standard Time">(GMT) Monrovia, Reykjavik</option>
                            <option value="W. Europe Standard Time">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                            <option value="Central Europe Standard Time">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                            <option value="Romance Standard Time">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                            <option value="Central European Standard Time">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                            <option value="W. Central Africa Standard Time">(GMT+01:00) West Central Africa</option>
                            <option value="Jordan Standard Time">(GMT+02:00) Amman</option>
                            <option value="GTB Standard Time">(GMT+02:00) Athens, Bucharest, Istanbul</option>
                            <option value="Middle East Standard Time">(GMT+02:00) Beirut</option>
                            <option value="Egypt Standard Time">(GMT+02:00) Cairo</option>
                            <option value="South Africa Standard Time">(GMT+02:00) Harare, Pretoria</option>
                            <option value="FLE Standard Time">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
                            <option value="Israel Standard Time">(GMT+02:00) Jerusalem</option>
                            <option value="E. Europe Standard Time">(GMT+02:00) Minsk</option>
                            <option value="Namibia Standard Time">(GMT+02:00) Windhoek</option>
                            <option value="Arabic Standard Time">(GMT+03:00) Baghdad</option>
                            <option value="Arab Standard Time">(GMT+03:00) Kuwait, Riyadh</option>
                            <option value="Russian Standard Time">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                            <option value="E. Africa Standard Time">(GMT+03:00) Nairobi</option>
                            <option value="Georgian Standard Time">(GMT+03:00) Tbilisi</option>
                            <option value="Iran Standard Time">(GMT+03:30) Tehran</option>
                            <option value="Arabian Standard Time">(GMT+04:00) Abu Dhabi, Muscat</option>
                            <option value="Azerbaijan Standard Time">(GMT+04:00) Baku</option>
                            <option value="Mauritius Standard Time">(GMT+04:00) Port Louis</option>
                            <option value="Caucasus Standard Time">(GMT+04:00) Yerevan</option>
                            <option value="Afghanistan Standard Time">(GMT+04:30) Kabul</option>
                            <option value="Ekaterinburg Standard Time">(GMT+05:00) Ekaterinburg</option>
                            <option value="Pakistan Standard Time">(GMT+05:00) Islamabad, Karachi</option>
                            <option value="West Asia Standard Time">(GMT+05:00) Tashkent</option>
                            <option value="India Standard Time">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                            <option value="Sri Lanka Standard Time">(GMT+05:30) Sri Jayawardenepura</option>
                            <option value="Nepal Standard Time">(GMT+05:45) Kathmandu</option>
                            <option value="N. Central Asia Standard Time">(GMT+06:00) Almaty, Novosibirsk</option>
                            <option value="Central Asia Standard Time">(GMT+06:00) Astana, Dhaka</option>
                            <option value="Myanmar Standard Time">(GMT+06:30) Yangon (Rangoon)</option>
                            <option value="North Asia Standard Time">(GMT+07:00) Krasnoyarsk</option>
                            <option value="China Standard Time">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                            <option value="North Asia East Standard Time">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
                            <option value="Singapore Standard Time">(GMT+08:00) Kuala Lumpur, Singapore</option>
                            <option value="W. Australia Standard Time">(GMT+08:00) Perth</option>
                            <option value="Taipei Standard Time">(GMT+08:00) Taipei</option>
                            <option value="Tokyo Standard Time">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                            <option value="Korea Standard Time">(GMT+09:00) Seoul</option>
                            <option value="Yakutsk Standard Time">(GMT+09:00) Yakutsk</option>
                            <option value="Cen. Australia Standard Time">(GMT+09:30) Adelaide</option>
                            <option value="AUS Central Standard Time">(GMT+09:30) Darwin</option>
                            <option value="E. Australia Standard Time">(GMT+10:00) Brisbane</option>
                            <option value="AUS Eastern Standard Time">(GMT+10:00) Canberra, Melbourne, Sydney</option>
                            <option value="West Pacific Standard Time">(GMT+10:00) Guam, Port Moresby</option>
                            <option value="Tasmania Standard Time">(GMT+10:00) Hobart</option>
                            <option value="Vladivostok Standard Time">(GMT+10:00) Vladivostok</option>
                            <option value="Central Pacific Standard Time">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
                            <option value="New Zealand Standard Time">(GMT+12:00) Auckland, Wellington</option>
                            <option value="Fiji Standard Time">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
                            <option value="Tonga Standard Time">(GMT+13:00) Nuku'alofa</option>
                            <option value="Azores Standard Time">(GMT-01:00) Azores</option>
                            <option value="Cape Verde Standard Time">(GMT-01:00) Cape Verde Is.</option>
                            <option value="Mid-Atlantic Standard Time">(GMT-02:00) Mid-Atlantic</option>
                            <option value="E. South America Standard Time">(GMT-03:00) Brasilia</option>
                            <option value="Argentina Standard Time">(GMT-03:00) Buenos Aires</option>
                            <option value="SA Eastern Standard Time">(GMT-03:00) Georgetown</option>
                            <option value="Greenland Standard Time">(GMT-03:00) Greenland</option>
                            <option value="Montevideo Standard Time">(GMT-03:00) Montevideo</option>
                            <option value="Newfoundland Standard Time">(GMT-03:30) Newfoundland</option>
                            <option value="Atlantic Standard Time">(GMT-04:00) Atlantic Time (Canada)</option>
                            <option value="SA Western Standard Time">(GMT-04:00) La Paz</option>
                            <option value="Central Brazilian Standard Time">(GMT-04:00) Manaus</option>
                            <option value="Pacific SA Standard Time">(GMT-04:00) Santiago</option>
                            <option value="Venezuela Standard Time">(GMT-04:30) Caracas</option>
                            <option value="SA Pacific Standard Time">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
                            <option value="Eastern Standard Time">(GMT-05:00) Eastern Time (US & Canada)</option>
                            <option value="US Eastern Standard Time">(GMT-05:00) Indiana (East)</option>
                            <option value="Central America Standard Time">(GMT-06:00) Central America</option>
                            <option value="Central Standard Time">(GMT-06:00) Central Time (US & Canada)</option>
                            <option value="Central Standard Time (Mexico)">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
                            <option value="Canada Central Standard Time">(GMT-06:00) Saskatchewan</option>
                            <option value="US Mountain Standard Time">(GMT-07:00) Arizona</option>
                            <option value="Mountain Standard Time (Mexico)">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
                            <option value="Mountain Standard Time">(GMT-07:00) Mountain Time (US & Canada)</option>
                            <option value="Pacific Standard Time">(GMT-08:00) Pacific Time (US & Canada)</option>
                            <option value="Pacific Standard Time (Mexico)">(GMT-08:00) Tijuana, Baja California</option>
                            <option value="Alaskan Standard Time">(GMT-09:00) Alaska</option>
                            <option value="Hawaiian Standard Time">(GMT-10:00) Hawaii</option>
                            <option value="Samoa Standard Time">(GMT-11:00) Midway Island, Samoa</option>
                            <option value="Dateline Standard Time">(GMT-12:00) International Date Line West</option>
                            *@
                        </select>
                    </div>
                    <div id="emailHelp" class="form-text">We'll remind you via the email you provided us.</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="saveChangesBtn" type="button" class="btn btn-success">Create</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery-3.7.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    $(document).ready(function () {
        $("#saveChangesBtn").click(function () {

            var executionDateTime = $("#executionDateTime").val();
            var timezone = $("#timezone").val();
            var mealPlanId = $("#mealPlanId").data("mealplan-id");

            var formData = new FormData();
            formData.append("id", mealPlanId);
            formData.append("executionDateTime", executionDateTime);
            formData.append("timezone", timezone);

            console.log("id: " + mealPlanId);
            console.log("time: " + executionDateTime);
            console.log("timezone: " + timezone);

            $.ajax({
                url: '/MealPlan/HandleJob',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        toastr.success('Reminder created successfully');
                        $('.btn-close').trigger('click');
                    } else {
                        toastr.warning('Failed to create the reminder. Make sure you fill in all fields.');
                    }
                },
                error: function (xhr, status, error) {
                    $("#loader").hide();
                    toastr.warning('An error occurred while creating the reminder.');
                }
            });
        });
    });

</script>



