@model Recipe

@{
    ViewBag.Title = "Create recipe";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>
        <dd>
            <img src="@Model.ImgPath" alt="Image" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.Raw(Model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nutrition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nutrition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrepTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrepTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Difficult)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Difficult)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkRecipe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkRecipe.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkRecipeCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkRecipeCategory.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>